*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainBody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(254, 146, 5),rgb(246, 246, 246));
    display: flex;
    justify-content: center;
    align-items: center;   
}
.nameBox{
    width: 60%;
  /* //  border: 3px solid white; */
}
.nameBox>h1{
    color: white;
    font-size: 150px;
}
.nameBox>p{
    color: white;
    font-size: 40px;
}
nav{
    width: 6vw;
    height: 60vh;
    /* // background: rgb(157, 93, 4); */
    position: fixed;
    left: 20px;
}
nav>div{
    /* border: 1px solid snow; */
    width: 4vw;
    height: 4vw;
    
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>div>a>i{
    color: rgb(255, 255, 255);
    font-size: 40px;
}
.aboutSection{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutSection>main{
    width: 80%;
    height: 80%;
    border: 2px solid red;
    display: flex;
}
.aboutSection>main>article{
    height: 100%;
    width: 50%;
    border: 2px solid red;
}
